@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Movie Details";
}



<div>
    <h1>@ViewBag.MovieName</h1>
    <h2>by @ViewBag.Director</h2>
        
    <h3>Description: </h3>
    <div>@Html.Raw(ViewBag.Description)</div>

    <div>
        @if (ViewBag.Cast.Length > 0)
        {
            <h3>Cast: </h3>
            <ul>
                @foreach (var c in ViewBag.Cast)
                {
                    <li>@c</li>
                }
            </ul>
        }
    </div>
</div>

